body {
  background-color: #3B45AA;
  font-family: 'Quicksand', sans-serif
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

body .container{
  margin: auto;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border-radius: 6px;
  padding: 5px;
  height: 700px;
}

.containerwinner{
  margin: auto;
  position: absolute;
  text-align: center;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border-radius: 6px;
  padding: 5px;
  height: 300px;
}

body .container3 {
  width: 300px;
}

body .container4 {
  width: 400px;
}

body .container5 {
  width: 500px;
}

body .tic-tac-toe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

button {
  height: 40px;
  background-color: #B27B8B;
  border-radius: 20px;
  color: white;
  margin: auto;
  padding: 10px;
  cursor: pointer;
}

.menu {
  text-align: center;
}

.menu h1{
  color: #3B45AA;
}

button {
  outline: none;
}
.turn{
  padding: 10px;
}
.Select-menu-outer, .Select-control{
  width: 75px !important;
}