
.tile {
    background-color: #B27B8B;
    margin: 5px;
    border-radius: 6px;
    cursor: pointer;
    width: 75px;
    height: 70px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    position: relative;
}


.tile:hover {
    background-color:#D0782A;
}

.tile p.selected {
    line-height: 0px;
    text-align: center;
    color: white;
    font-size: 38px;
}

.selectedWinnerX, .selectedWinnerX:hover{
    background-color:#1E9FE8;
}


.selectedWinnerO, .selectedWinnerO:hover{
    background-color:#FF5252;
}